/* Accessibility*/ 
#skip {background-color: #7fffd4;
    padding: 5px;
    border: 5 px;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left: -999px}
   
body {background-color: #94ddf59f;}



/*Navigation*/
nav{
position: absolute;
top: 2%; 
right: 1%;
color: #000000;
background-color: #ffffff;
padding:10px;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;}
nav:hover {background-color: #54a2f03c;
color: black;}

/* current header */
header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; 
  }

  header img {
    width: 100%;
    height: auto;
    display: block; 
    margin-top: -30px;
    margin-bottom: -20px;
  }

h1 {text-align:center;
font-size: 30px;
background-color: #54a2f03c;
padding: 15px;
color: #000000;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border: 7px solid #ffffff;
}


/*images */
.images { display:flex;
    justify-content: center;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
    flex-wrap: wrap;}

img {border: 7px solid #ffffff;}

/*text under images */
.text {text-align: center;
    background-color: #54a2f03c;
    padding: 30px;
    font-size: 17px;
    font-family: 'Didot',serif ;
    color: #000000;
    border-radius: 1em;
}

/*widgets*/
.row1{ display:flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }

.sydney, .travel, .school{flex:1;
text-align: center;
background-color: #54a2f03c;
font-size: 15px;
font-family: 'Didot',serif ;
margin: 10px;
border-radius: 1em;
border: 7px solid #ffffff;
flex-wrap: wrap;
}
div strong {font-size: 25px;}

/*footer*/
.row2{ display:flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #54a2f03c;;
    font-family: 'Didot',serif ;
    font-size: 15px;
    }

.questions3, .nice {flex:auto;
padding:10px;
text-align: center;}

.nice{padding:40px;
    flex-wrap: wrap;}


 @media only screen and (max-width:800px) { 
    nav{
        position: absolute;
        top: 2%; 
        right: 1%;
        color: #000000;
        background-color: #ffffff;
        padding:2px;
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;}
        nav:hover {background-color: #54a2f03c;
        color: black;}
    }
@media only screen and (min-width:801px) {
        
}