body{font-family: 'Hedvig Letters Serif', serif;}
/* Accessibility*/ 
#skip {background-color: #7fffd4;
    padding: 5px;
    border: 5 px;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left: -999px}

    body {background-color: rgba(148, 221, 245, 0.622);}

    .nav1,.nav2,.nav3{text-decoration: none;
        margin: 10px;
        color: #000000;}

    /*Navigation*/
    nav{
        position: absolute;
        top: 2%; 
        right: 1%;
        color: #000000;
        background-color: #ffffff;
        padding:10px;
        font-size: 20px;
        font-family: 'Hedvig Letters Serif', serif;}
        nav:hover {background-color: rgba(0, 0, 0, 0);;
            color: black;}
    
        header {
            width: 100%;
            max-width: 100%;
            margin: 0 auto; 
          }
        
          header img {
            width: 100%;
            height: auto;
            display: block; 
            margin-top: -30px;
            margin-bottom: -20px;
          }

    /*Header- Australia
    h1 {text-align:center;
        font-size: 60px;
        background-color: #54a2f03c;
        padding: 1px;
        color:aliceblue;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }*/

/* First Video 
.video {display:flex;
justify-content: center;
}

video {border: 10px solid #ffffff;}*/

/*first paragraph */
.firstparagraph {text-align: center;
background-color: #54a2f03c;
padding:10px;
font-size: 18px;
font-family: 'Hedvig Letters Serif', serif;}

/*first complex design*/
img {border: 5px solid #ffffff;
    margin: 5px;
}

.row1 {display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.column1, .column2 {padding: 10px;
justify-content: left;
}

.column2{ background-color: #54a2f03c;
    padding:10px;
    border: 5px solid #ffffff;}

/*second complex design*/
.row2 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column4, .column5 {flex:1;}

.column5 img, .column4 img{
    padding: 15px;
}

h3 {font-size: 35px;
 font-family: 'Hedvig Letters Serif', serif;
background-color: #54a2f03c;
color:#f9f9f9;
text-align:center;
border: 7px solid #ffffff;}

.tinyparagraph, .tinyparagraph2, .tinyparagraph3, .tinyparagraph4{text-align:center;
    font-size: 15px;
    background-color:#54a2f03c;
    padding: 7px;
}

.row3, .row4{display:flex;
justify-content: space-around;
}


/*footer*/
.row5{ display:flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #54a2f03c;
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 15px;
    border: 5px solid #ffffff;
    }

.questions3, .nice {flex:auto;
padding:10px;
text-align: center;}


@media only screen and (max-width:800px) { 

    nav{
        position: absolute;
        top: 2%; 
        right: 1%;
        color: #000000;
        background-color: #ffffff;
        padding:2px;
        font-size: 12px;
        font-family: 'Hedvig Letters Serif', serif;}
        nav:hover {background-color: #54a2f03c;
        color: black;}

    .row4, .row3 {
        flex-wrap: wrap;
    }

    .column3, .column4 {
        max-width: 100%;
    }
  }
